* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    background-color: #d0d0d0;
}

.navbar {
    padding: 8px;
    margin: 0px;
    height: auto;
    background: linear-gradient(to bottom, #444444, #222222);

    display: flex;
    justify-content: center;

}

.nav-active, .nav-link {
    padding: 0px;
    margin: 0px;
    margin-right: 30px;
    font-size: 20px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    float: bottom;
    text-decoration: none;
}

.nav-link {
    color: #bbbbbb; 
}

.nav-active {
    color: #eeeeee;
    font-weight: bold;
}

.clock {
    margin: 20px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    color: #0040a0;
}

h1, p, input{
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1 {
    margin-top: 30px;
}

p {
    margin-top: 10px;
    margin-bottom: 20px;
}

@media all and (max-width: 768px) {
    h1, p {
        margin-left: 80px;
        margin-right: 80px;
    }
}
